body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfecf0;
}

.website-title, .recipe-title {
    /* font-family: 'Bebas Neue', cursive; */
    text-align: center;
}

.website-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    margin: auto;
}

.container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.recipe-title {
    margin-top: auto;
}

.headerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerimg.recipe {
    border: 2px solid lightgray;
    border-radius: 12px;
}

.recipes {
    display: table;
    margin: 0 auto;
    padding-top: 40px;
}